<% unless @auto_responses.empty? %>
<!-- TweetStack Content Box Start -->
<div class="contentcontainer">
  
  <div class="headings altheading">
    <h2>Auto Responses</h2>
  </div>
  <div class="contentbox">
  	<table width="100%">
    	<thead>
        <tr>
          <th>Key Phrases</th>
          <th>Response</th>
          <th>Number of people replied to</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @auto_responses.each_with_index do |auto_response,index| %>
      	<tr>
          <td><%= auto_response.key_phrases %></td>
          <td><%= auto_response.response %></td>
          <td><%= auto_response.sent_to.count %></td>
          
          <td>
            <%= link_to raw('<img src="/img/icons/icon_edit.png" alt="Edit" />'), edit_tweet_engine_auto_response_path(:id => auto_response.id) %>
            <%= link_to raw('<img src="/img/icons/icon_delete.png" alt="Delete" />'), tweet_engine_auto_response_path(:id => auto_response.id), :method => :delete, :confirm => "Are you sure you want to delete this entry?" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div style="clear: both;"></div>
  </div>
</div>
<!-- TweetStack Content Box End -->
<% end %>
