<h2>Tweet stack</h2>

<% if notice %> 
  <p id="notice"><%= notice %></p>
<% end %>

You currently have <%= TweetStack.followers %> followers<br />
You are following <%= TweetStack.following %> tweeple
<%= form_tag(tweet_search_phrase_path, :method => :get) do |f| %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>


<% if @results.present? %>
  <%= form_tag(tweet_follow_path) do |f| %>
    Tweeple talking about '<%= @term %>':<br />
    <ul>
    <% @results.each_with_index do |tweeple, index| %>
      <li>
        <%= label_tag "followers[name][#{tweeple.from_user}]", tweeple.from_user %><%= check_box_tag "followers[name][#{tweeple.from_user}]", tweeple.from_user %><br />
        <%= tweeple.text %>
      </li>
    <% end %>
    </ul>
    <%= submit_tag("Follow") %>
  <% end %>
<% end %>

<% if @tweet_stack.empty? %>
  No tweets stacked<br />
<% else%>
  Stacked tweets<br />
  <ul>
  <% @tweet_stack.each do |tweet| %>
    <li><%= tweet.message %> - <%= link_to "delete", tweet_path(:id => tweet.id), :method => :delete, :confirm => "Are you sure you want to delete this entry?" %></li>
  <% end %>
  </ul>
<% end %>
<%= form_tag tweet_index_path, :method => :post do %>
  <%= label_tag :message, "Enter Tweet"%>
  <%= text_field_tag :message %>
  <%= submit_tag("Stack Tweet") %>
<% end %>