<p>
  <%= f.label :message, "Enter Tweet" %>
  <%= f.text_field :message %>
</p>
<p>
  <%= f.label :repeat, "Repeat" %>
  <%= f.check_box :repeat %>
</p>
<p>
  <%= f.label :every, "Every" %>
  <%= f.text_field :every %>
</p>
<p>
  <%= f.label :sending_at, "Sending At" %>
  <%= f.text_field :sending_at, :class =>'datepicker' %>
</p>
<%= f.submit "Stack Tweet", :disable_with => 'Stack Tweeting...' %>