<!-- Content Box Start -->
<div class="contentcontainer sml right">
  <div class="headings">
      <h2>Notices</h2>
  </div>
  <div class="contentbox">
    <% if TweetEngine.config['search'] %>
      <div class="noticebox">
        <div class="innernotice">
          <h4>Search information</h4>
          <p>Auto-searching for <%= TweetEngine.config['keywords'] %></p>
          <p>You currently have <%= TweetEngine.whats_my.user.followers_count %> <%= link_to "followers", followers_tweet_engine_path %></p>
          <p>You are <%= link_to "following", following_tweet_engine_path %> <%= @user.friends_count %> tweeple</p>
          <p>Number of found <%= link_to "potential followers", tweet_engine_potential_followers_path %> <%= TweetEngine::SearchResult.all.count %></p>
        </div>
      </div>
     <% end %>
      <div class="noticeboxalt">
        <div class="innernotice">
          <h4>Tweet Info</h4>
          <p>Your account was created <%= time_ago_in_words @user.created_at %></p>
          <p>Your last tweet was @ <%= distance_of_time_in_words Time.now, @user.status.created_at%>: <%= @user.status.text %></p>
          </div>
      </div>
      <div style="clear: both;"></div>
  </div>
</div>
<!-- Content Box End -->
