<% if tweet_stack.empty? %>
    No tweets stacked<br />
<% else%>
<!-- TweetStack Content Box Start -->
<div class="contentcontainer">
  
  <div class="headings altheading">
    <h2>Stacked Tweets</h2>
  </div>
  <div class="contentbox">
  	<table width="100%">
    	<thead>
        <tr>
          <th>Sending @</th>
          <th>Tweet</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% tweet_stack.each do |tweet| %>
      	<tr>
          <td>
        	 <% if not tweet.delivered %>
            Sending in <%= time_ago_in_words tweet.sending_at %>
            <% if tweet.repeat %>
              this will be repeated every <%= tweet.every.to_s %>
             <% end %>
            <% else %>
              this was sent at <%= time_ago_in_words tweet.sending_at %>
            <% end %>
        	</td>
          <td><%= tweet.message %></td>
          <td>
            <%= link_to raw('<img src="/img/icons/icon_edit.png" alt="Edit" />'), edit_tweet_engine_tweet_path(:id => tweet.id) %>
            <%= link_to raw('<img src="/img/icons/icon_delete.png" alt="Delete" />'), tweet_engine_tweet_path(:id => tweet.id), :method => :delete, :confirm => "Are you sure you want to delete this entry?" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
      <div class="extrabottom">
      	<ul>
        	<li><img src="/img/icons/icon_edit.png" alt="Edit" /> Edit</li>
          <li><img src="/img/icons/icon_delete.png" alt="Delete" /> Remove</li>
        </ul>
      </div>
      <%= will_paginate @tweet_stack %>
  </div>
</div>
<!-- TweetStack Content Box End -->
<% end %>