<!-- TweetStack Content Box Start -->
<div class="contentcontainer">
  
  <div class="headings altheading">
    <h2>People following us</h2>
  </div>
  <div class="contentbox">
    <%= form_tag(:action => "unfollow") do %>
  	<table width="100%">
    	<thead>
        <tr>
          <th>Screen name</th>
          <th>Description</th>
          <th>Followers</th>
          <th>Following</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @followers.each_with_index do |user,index| %>
      	<tr>
          <td><%= user.screen_name %></td>
          <td><%= user.description %></td>
          <td><%= user.followers_count %></td>
          <td><%= user.friends_count %></td>
          <td>
            <% if user.following %>
              <%= check_box_tag "unfollow[#{index}]", user.screen_name %>
            <% else %>
            &nbsp;
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
      <div class="extrabottom">
      	<ul>
          	<li><img src="/img/icons/icon_edit.png" alt="Edit" /> Edit</li>
              <li><img src="/img/icons/icon_delete.png" alt="Delete" /> Remove</li>
          </ul>
          <div class="bulkactions">
            <%= submit_tag "Unfollow tweeple", :disable_with => 'Unfollowing tweeple...', :class => "btn" %>
          </div>
      </div>
    <% end %>
    <%= will_paginate @followers %>
  </div>
</div>
<!-- TweetStack Content Box End -->
