<% unless @potential_followers.empty? %>

<!-- TweetStack Content Box Start -->
<div class="contentcontainer">
  
  <div class="headings altheading">
    <h2>Potential Followers</h2>
  </div>
  <div class="contentbox">
    <%= form_tag(:action => "follow") do %>
  	<table width="100%">
    	<thead>
        <tr>
          <th>Screen name</th>
          <th>Tweet</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @potential_followers.each_with_index do |user,index| %>
      	<tr>
          <td><%= user.screen_name %></td>
          <td><%= user.tweet['text'] %></td>
          <td><%= check_box_tag "followers[#{index}]", user.screen_name %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
      <div class="extrabottom">
          <div class="bulkactions">
            <%= submit_tag "Follow tweeple", :disable_with => 'Follow tweeple...' %>
          </div>
      </div>
    <% end %>
    <%= will_paginate @potential_followers %>
  </div>
</div>
<!-- TweetStack Content Box End -->
<% end %>
